@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap&subset=vietnamese');
img{max-width: 100%;}
.md-none{display: none;}
.md-block{display: block;}
.m0{margin: 0px;}.p0{padding: 0px !important;}.m-5{margin-left: -5px !important;margin-right: -5px !important;}.p5{padding-left: 5px;padding-right: 5px}.m-10{margin-left: -10px;margin-right: -10px}.p10{padding-left: 10px;padding-right: 10px}
body{font-family: 'Roboto Condensed', sans-serif;}
.pagination-page {text-align:center;}
.pagination-page > span, .pagination-page  a{display:inline-block;width:30px;height:30px;line-height:30px;border:solid 1px #ddd;color:#000;}
.pagination-page  a:hover,
.pagination-page > span{background: #1f5892;color:#FFF;}

.item-camket{padding-top: 10px;padding-bottom: 10px;margin-top: 5px;margin-bottom: 5px;}
.item-camket img{float: left;margin-right: 10px;margin-top: 3px;}
.item-camket .content{
}
.item-camket .content strong{display: block;margin-bottom: 2px;}
.item-camket .content span{display: block;}
.gio-hang{text-align: right;}
.gio-hang a{background-color: #e63c45;display: inline-block;padding: 5px 20px;border-radius: 10px;color: #fff;font-size: 14px;margin-top: 20px;margin-bottom: 20px;}
.gio-hang a:hover{background-color: #e63c45;text-decoration: none;}
.logo{display: block;padding-top: 3px;padding-bottom: 3px;margin-top: 5px;margin-bottom: 5px;}
header{padding-top: 5px;padding-bottom: 5px;}
.navbar-default{margin: 0px;border-radius: 0px;border: none;background-color: #e7474f;}
.navbar-default .navbar-nav>li>a{color: #fff;text-transform: uppercase;font-weight: 600;padding-left: 20px;padding-right: 20px;}
.navbar-default .navbar-brand{color: #fff;font-size: 14px;text-transform: uppercase;font-weight: 600;padding-right: 20px;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{color: #fff;background-color: #e63c45;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color: #fff;background-color: #e63c45;}
.dropdown-menu>li>a{padding: 10px 15px;text-transform: uppercase;}
.navbar-nav>li>.dropdown-menu{border-radius: 0px;min-width: 215px;}
.navbar-nav>li:hover>a{background-color: #e63c45;}
.navbar-form{background-color: #fff;padding-left: 0px;padding-right: 0px;}
.navbar-form .form-control{border: none;width: 100%;}
.navbar-form .form-control:focus{
	outline: none;
    box-shadow: none;
}
.navbar-form button{border: none;}
.title_c{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-top: 14px;
    border-bottom: 2px solid #252834;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.title_c a{color: #fc7703;border-bottom: 3px solid #fe0000;padding-bottom: 7px;}
.title_c a:hover{text-decoration: none;}
.item-product{
    border: 1px solid #e6e6e6;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    background-color: #fff;
	padding-bottom: 15px;
}
.item-product:after{content:"";position: absolute;left: 5px;right: 5px;height: 2px;bottom: 0px;box-shadow: 1px 1px 10px 1px #505050;z-index: -1;}
.item-product>a{display: block;height: 135px;overflow: hidden;line-height: 150px;}
.item-product>a>img{max-width: 100%;max-height: 100%;line-height: 200px;}
.item-product>h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    
    overflow: hidden;
}
.item-product>h3>a{color: #000;}
.item-product>h3>a:hover{text-decoration: none;color: #cc;}
.item-product .gia-ban{}
.item-product .gia-ban>strong{color: red;}
.item-product .gia-ban>span{font-size: 13px;font-style: italic;text-decoration: line-through;color: #7b7878;}
.item-product .chitiet{
}
.item-product .chitiet a{background-color: #e63c45;color: #fff;padding: 5px 15px;display: inline-block;margin-top: 10px;border-radius: 8px;}
.item-product .chitiet a:hover{
}
.list-product{position: relative;margin-top: 0px;margin-bottom: 0px;}
.list-product .owl-nav{position: absolute;top: -34px;right: 0;}
.list-product .owl-nav button{border: none;background: transparent;font-size: 29px;line-height: 14px;padding: 0px 3px;}
.list-product .owl-nav button:focus{outline: none;}
.title-home2{
    color: #ffffff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    background: url(../images/title-right.png) no-repeat center right;
    background-size: contain;
    text-align: center;
    margin-top: 13px;
    position: relative;
    z-index: 1;
    margin-bottom: -1px;
    padding: 9px 6px 17px 6px;
}
.nav-right{/* padding-left: 5px; *//* padding-right: 5px; */}
.nav-right ul{
    list-style: none;
    padding: 0px;
    background-color: #e7474f;
    background: -moz-linear-gradient(bottom,#68b213 30%,#e7474f 70%);
    background: -o-linear-gradient(bottom,#68b213 30%,#e7474f 70%);
    background: -ms-linear-gradient(bottom,#68b213 30%,#e7474f 70%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3,#f35b63),color-stop(0.7,#e7474f));
    border-radius: 5px;
    position: relative;
    padding-top: 10px;
    /* top: -17px; */
}
.nav-right ul li{    
    border-top: 1px solid #d21720;
    border-bottom: 1px solid #f56d74;}
.nav-right ul li:last-child {border-bottom: none;}
.nav-right ul li:nth-child(1){border-top: none;}
.nav-right ul li a{display: block;padding: 9px 15px;color: #fff;}
.nav-right ul li a:hover{ 
    text-decoration: none;
    background-color: #e63c45;
}
.nav-right ul:before{content:"";width: 7px;height: 7px;position: absolute;background-color: #fff;border-radius: 50%;top: 3px;left: 5px;}
.nav-right ul:after{content:"";width: 7px;height: 7px;position: absolute;background-color: #fff;border-radius: 50%;top: 3px;right: 5px;}
.hotro{border: 1px dashed #e7474f;padding: 10px 5px;padding-top: 10px;/* margin-right: 7px; *//* margin-top: -38px; */border-radius: 5px;}
.hotline-right{background: url(../images/icon-hotline.png) no-repeat center left;padding-left: 30px;font-weight: 600;color: #f74a58;font-size: 16px;margin-top: 10px;}
.hotro{/* border-bottom: 1px dashed #b31313; */padding-bottom: 14px;}
.hotro img{display: block;text-align: center;margin: 0px auto;}
.hotro h3{font-weight: 600;font-size: 14px;text-transform: uppercase;position: relative;padding-bottom: 10px;}
.hotro h3:before{content:"";position: absolute;left: 0;bottom: 0;width: 50px;height: 3px;background-color: #b31313;}
.email{background: url(../images/icon-mail.png) no-repeat left center;background-size: 26px;padding-left: 30px;margin-top: 10px;font-weight: 600;}
.zalo{background: url(../images/zalo.png) no-repeat left center;background-size: 21px;padding-left: 30px;margin-top: 10px;color: #00acd4;font-weight: 600;}
.item-new-right{border-bottom: 1px dotted #ccc;padding-top: 10px;padding-bottom: 10px;}
.item-new-right .name{margin-top: 0px;font-size: 14px;font-weight: bold;margin-bottom: 5px;}
.item-new-right .name a{color: #000;}
.item-new-right .name a:hover{
}
.item-new-right .quote{line-height: 13px;}
.item-new-right:last-child{border: none;}
.new-righ{border: 1px dashed #e7474f;padding: 5px;border-radius: 5px;padding-top: 10px;}
.dangky{background: url(../images/business-background.png) no-repeat center bottom;background-size: cover;padding-top: 25px;padding-bottom: 20px;margin-top: 20px;position: relative;}
.dangky:before{content:"";position: absolute;left: 0;right: 0;top: 0;height: 100%;background-color: #0009;z-index: 0;}
.dangky h4{text-align: center;text-transform: uppercase;font-weight: bold;color: #ffffff;position: relative;margin-bottom: 20px;}
.dangky input{border-radius: 1px;}
.dangky .btn-dk{border-radius: 0px;background-color: #e7474f;font-weight: 600;color: #fff;text-transform: uppercase;border-color: #e7474f;}
footer{font-size: 15px;border-top: 2px solid #e7474f;background-color: #ffffff;color: #000;padding-top: 0px;padding-bottom: 0px;}
footer .title-f{text-transform: uppercase;font-weight: bold;margin-bottom: 25px;color: #fe0002;font-size: 18px;margin-top: 30px;}
footer a{color: #221817;}
footer ul{list-style: none;padding: 0px;}
footer ul a{text-transform: initial;padding: 7px 0px;display: inline-block;font-size: 16px;}
footer a:hover{text-decoration: none;color: #e7474f;}
.chantrang{background-color: #e7474f;color: #fff;padding-top: 10px;padding-bottom: 10px;font-size: 13px;}
.chantrang a{color: #fff;}
.menu-f{list-style: none;padding: 0px;text-align: center;border-bottom: 1px solid #ccc;padding-top: 10px;padding-bottom: 10px;}
.menu-f li{display: inline-block;border-right: 1px solid #ccc;line-height: 0px;}
.menu-f li a{text-transform: inherit;padding-left: 15px;padding-right: 15px;font-size: 15px;}
.menu-f li a:hover{color: #e7474f;}
.menu-f li:last-child{border-right: none;}
.san-phamhot{padding: 10px;border: 1px dashed #e7474f;border-radius: 5px;/* margin-left: 5px; *//* margin-right: 5px; *//* margin-top: -37px; */padding-top: 10px;}
.san-phamhot .item-product{border: none;}
.san-phamhot .item-product:after{box-shadow: none;border-bottom: 1px dotted #e2dfdf;z-index: 1;bottom: -14px;left: 0;right: 0;}
.breadcrumb{float: right;border-bottom: none;margin-top: -50px;background-color: transparent;padding: 0px;margin-bottom: 0px;padding-bottom: 0px;}
.title-home{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-top: 13px;
    border-bottom: 1px solid #989696;
    padding-bottom: 9px;
    margin-bottom: 30px;
}
.title-home span{
    color: #e63c45;
    border-bottom: 3px solid #fe0000;
    padding-bottom: 7px;
    padding-right: 10px;
} 
.breadcrumb>li a{color: #868282;}
.new-hot img{
	width: 100%;
}
.new-hot h3{
	font-size: 18px;
    font-weight: 600;
}
.new-hot h3 a{
	color: #000;
}
.new-hot-2 h3{
	font-size: 18px;
    font-weight: 600;
}
.new-hot-2 h3 a{
	color: #000;
}
.new-hot-3 h3{
	font-size: 14px;
    margin-top: 10px;
    border-top: 1px solid #efebeb;
    padding-top: 10px;
}
.new-hot-3 h3 a{
	color: #000;
}
.new-hot{
	margin-bottom: 15px;
}
.item-new h3{font-size: 16px;font-weight: 600;text-transform: uppercase;line-height: 21px;overflow: hidden;margin-top: 10px;margin-bottom: 15px;}
.item-new h3 a{color: #000;}
.item-new h3 a:hover{
}
.item-new .mota{text-align: justify;}
.item-new .mota span{color: #b31313;font-size: 13px;font-weight: 600;}
.item-new{border-bottom: 1px dashed #dedddc;padding-top: 10px;padding-bottom: 10px;}
.item-new img{
}
.item-new .title-new{font-weight: 600;font-size: 16px;}
.item-new .title-new a{color: #1c1c1c;}
.item-new .title-new a:hover{
}
.item-new:last-child{border-bottom: none;padding-bottom: 0pc;}
.title-tin{margin-top: 10px;margin-bottom: 20px;font-size: 24px;font-weight: 600;}
.ngaydang{color: #717171;font-style: italic;}
.tinlienquan{padding-left: 18px;}
.tinlienquan li{padding-top: 5px;padding-bottom: 5px;}
.tinlienquan a{color: #000;font-size: 15px;}
.tinlienquan a:hover{text-decoration: none;color: #6fb820;}
.title-sp{font-size: 20px;font-weight: 600;}
.box-sl{
}
.box-sl label{float: left;margin-right: 0px;position: relative;top: 10px;}
.box-sl .soluong{width: 100%;height: 40px;text-align: center;font-size: 16px;border-radius: 0px;border: 1px solid #d8dad6;float: right;font-weight: bold;}
.lienhe-sp{margin-top: 30px;}
.slide-sp .item{
}
.slide-sp .item a{height: 67px;width: 99%;display: inline-block;background-size: cover;background-repeat: no-repeat;border: 1px solid #eceaea;background-position: center;}
.btn-login{background-color: #e7474f;float: right;color: #fff;font-weight: 600;padding-left: 30px;padding-right: 30px;}
.tong_tt h3{
    font-size: 14px;
    margin: 0px;
    font-weight: 600;
    color: red;
}
#map iframe{height: 175px;}
.hc-nav-trigger.hc-nav-1{
	display: none !important;
}
.title_c .xemtatca{
    font-size: 14px;
    border: none;
    text-transform: initial;
    float: right;
    margin-top: 9px;
    font-weight: 500;
    color: #e7474f;
}
.navbar-form .form-group{
    width: 280px;
}
.navbar-form{
    border-radius: 5px;
}
iframe{
    max-width: 100%;
}
.video{
    border: 1px dashed #e7474f;
    padding: 5px;
    /* margin-top: -37px; */
    padding-top: 10px;
    border-radius: 5px;
    padding-top: 10px;
}
#slider{
    margin-bottom: 20px;
}
.chitiettin h1, .chitiettin h2, .chitiettin h3, .chitiettin h4, .chitiettin h5, .chitiettin h6{
	margin-top: 15px;
    margin-bottom: 10px;
    font-size: initial;
}
.title-sp{line-height: 27px;display: inline-block;background-color: #ed1c24;color: #fff !important;padding: 7px 13px;font-size: 18px;border: none !important;position: relative;height: 37px;margin-bottom: -2px;}
.title-sp:after{content:"";position: absolute;width: 56px;height: 37px;top: 0;background: url(../images/br-title.png);left: 100%;}
.ten-sp{
	margin-top: 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}